doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="/css/styles.min.css")
        
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        body 
          .content     
            button(onclick="moveAi()", title="Edit",value='SUCK',class='btn-ai') 
            div#div1
            p#listFigures
            #listField
          //- button[onclick='moveAi()'].suck
    body 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="main.min.js") 